<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Notepad.Properties.Settings>
            <setting name="DetectTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="HideMenubarState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideScrollBarState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTopState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWrapState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBarState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpellCheckingState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFilePathState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFindWord" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplaceWord" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomPercentage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastOpenLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PaperSize" serializeAs="String">
                <value />
            </setting>
            <setting name="PaperSource" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPortrait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value />
            </setting>
            <setting name="Footer" serializeAs="String">
                <value />
            </setting>
        </Notepad.Properties.Settings>
    </userSettings>
</configuration>